@font-face
{
    font-family: symbola;
    src: url('Symbola_hint.ttf'); /* https://tracker.debian.org/pkg/ttf-ancient-fonts */
}

@media print
{
  @page
  {
    margin: 7mm;
    padding: 0;
  }
}

div.chronology
, .sidebar .skills > div
, .topics ul
{
  orphans: 3;
  widows: 3;
  page-break-inside: avoid;
  page-break-before: avoid;
  page-break-after: avoid;
}

body
{
  width: 21cm;
  margin: 7mm;
  font-size: 12pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: justify ;
}

div.main
{
  width: 17cm;
  float: left;
  padding: 8mm 0 5mm 0;
}

div.main > div
{
  padding: 0 0 10mm 0;
}

h1
{
  margin: 0;
  margin-top: 6mm;
  margin-bottom: 3mm;
  padding: 0;
}

/* Header ****************************************************/
header
{
  float: none;
}

header > :first-child > :first-child
, header > :last-child > :first-child
{
  font-size: 25pt;
}

header > :last-child > :first-child
{
  font-variant: small-caps;
  font-weight: bold;
}

header a
{
  color: inherit;
  text-decoration: none;
}

header > div
{
  font-size: 15pt;
  float: left;
}

header > :last-child
{
  float: right;
  text-align: right;
}

header:after
{
  content: '';
  clear: both;
  display: block;
}

.name:before
{
  font-size: 15pt;
  content: "\1f9d3";
  font-family: symbola;
  padding-right: 1mm;
}

.phone:before
{
  content: "\260f";
  font-family: symbola;
  padding-right: 1mm;
}

.address:before
{
  content: "\1f3e0";
  font-family: symbola;
  padding-right: 1mm;
}

.email:before
{
  content: "\1f4e7";
  font-family: symbola;
  padding-right: 1mm;
}

.web:after
{
  font-family: symbola;
  padding-left: 1mm;
}

/* Chronological events **************************************/

.chronology .period
{
  font-size: 11pt;
}

div.chronology
{
  box-sizing: border-box;
  clear: both;
}

div.chronology h2
{
  font-weight: normal;
  font-size: inherit;
  margin: 0;
  padding: 0;
  margin-bottom: 2mm;
}

div.chronology h2 b
{
  font-size: 1.1em;
}

div.chronology > div:last-child
{
  box-sizing: border-box;
  width: 14cm;
  padding: 1mm 4mm 2mm 4mm;
  margin-left: 3cm;
}

div.chronology > div:first-child
{
  float: left;
  border: inherit;
  margin: inherit;
  width: 3cm;
  box-sizing: border-box;
  padding: 1mm 1mm 2mm 0mm;
}

.chronology div.role
{
  text-align: left;
  font-weight: bold;
}

/* Experience skills *****************************************/
div.chronology .skills ul
{
  margin: 0;
  padding: 1mm 0;
}

div.chronology .skills li
{
  display: inline;
  font-style: italic;
  font-size: 8pt;
}

div.chronology .skills li:not(:last-child):after
{
  content: ', ';
}

/* Experience missions ***************************************/
div.chronology .missions ul
{
  display: table;
  list-style: none;
  margin: 0;
  padding: 1mm 0mm 2mm 3mm;
}

div.chronology .missions li:before
{
  display: table-cell;
  font-family: symbola;
  content: '\1F4CB';
  padding-right: 3mm;
}

div.chronology .missions li
{
  display: table-row;
  margin-left: 3mm;
}

/* Training topics *******************************************/
div.chronology .topics ul
{
  display: block;
  list-style: none;
  margin: 0;
  padding: 1mm 0mm 2mm 3mm;
  box-sizing: border-box;
}

div.chronology .topics ul:after
{
  content: '';
  clear: both;
  box-sizing: border-box;
}

div.chronology .topics li:before
{
  float: left;
  display: inline-block;
  content: '\1f4c2';
  font-family: symbola;
  padding-right: 1mm;
}

div.chronology .topics li
{
  display: inline-block;
  margin-left: 1mm;
  width: 30%;
}

/* Training diplomas *****************************************/
div.chronology .diplomas ul
{
  list-style: none;
  margin: 0;
  padding: 1mm 0mm 2mm 3mm;
  box-sizing: border-box;
}

div.chronology .diplomas li:before
{
  content: '\1f4dc';
  font-family: symbola;
  padding-right: 1mm;
}

div.chronology .diplomas li
{
  margin-left: 1mm;
}

/* Skills ****************************************************/
.sidebar h1
{
  display: none;
}

.sidebar .skills
{
  float: right;
  width: 3.5cm;
  margin: 5mm 0;
  padding: 3mm 1mm 3mm 3mm;

  border-left: 1pt dotted lightgray;
  border-top: 1pt dotted lightgray;
  border-bottom: 1pt dotted lightgray;
  border-top-left-radius: 8pt;
  border-bottom-left-radius: 8pt;
}

.sidebar .skills div
, .sidebar .skills h2
{
  margin: 0;
  padding: 0;
  text-align: right;
}

.sidebar .skills h2
{
  padding: 1mm 0;

  font-style: italic;
  font-weight: bold;
  font-size: 8pt;
}

.sidebar .skills > div > div
{
  font-size: 7pt;
}

.sidebar .skills ul
{
  margin: 0;
  padding: 0;
}

.sidebar .skills li
{
  list-style: none;
}
