@page {
	size: 21cm 29.7cm;
	margin: 7mm;
}

body {
	width: 21cm;
	margin: 7mm;
	font-size: 12pt;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	text-align:   justify ;
}

div.main
{
	width: 17cm;
	float: left;
}

div.sidebar h1
{
	text-align: right;
}

div.sidebar
{
	float: right;
	width: 4cm;
	margin: 0;
}


/* Header ****************************************************/
div#header-canvas > :first-child > :first-child
, div#header-canvas > :last-child > :first-child
{
	font-size: 25pt;
}

div#header-canvas > :last-child > :first-child
{
	font-variant: small-caps;
	font-transform: bold;
}

#header-canvas a
{
	color: inherit;
	text-decoration: none;
}

div#header-canvas > div
{
	font-size: 15pt;
	float: left;
}

div#header-canvas > :last-child
{
	float: right;
}

div#header-canvas:after
{
	content: '';
	clear: both;
	display: block;
}

/* Chronological events **************************************/

div.chronology
{
	box-sizing: border-box;
	clear: both;
}

div.chronology > div:last-child
{
	float: left;
	box-sizing: border-box;
	width: 14cm;
	padding: 0mm 8mm;
}

div.chronology > div:first-child
{
	float: left;
	border: inherit;
	margin: inherit;
	width: 3cm;
	box-sizing: border-box;
}

/* Experience skills *****************************************/
div.chronology .skills li
{
	display: inline;
	font-style: italic;
}

div.chronology.skills li:not(:last-child):after
{
	content: ', ';
}

/* Skills ****************************************************/

.sidebar .skills dl
, .sidebar .skills dt
, .sidebar .skills dd
{
	margin: 0;
	padding: 1mm 0;
	text-align: right;
}

.sidebar .skills dt
{
	font-variant: small-caps;
	font-transform: bold;
	font-size: 11pt;
}

.sidebar .skills dd
{
	font-size: 10pt;
}

.sidebar .skills ul
{
	margin: 0;
	padding: 0;
}

.sidebar .skills li
{
	list-style: none;
}
