<!DOCTYPE html!>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <link type='text/css' rel='stylesheet' href='cv.css' />
    <!--link type='text/css'
          rel='alternate stylesheet'
          href='light.css'
          title='Light'
          /-->
  </head>
  <body>

    <div id='header-canvas'></div>
      <section class='sidebar'>
        <h1>Compétences</h1>
        <div>
          <div id='skill-canvas'></div>
        </div>
      </section>
    <div class='main'>
      <section id='xp'>
        <h1>Expérience</h1>
        <div>
          <div id='xp-canvas'></div>
        </div>
      </section>
      <section id='training'>
        <h1>Formation</h1>
        <div>
          <div id='training-canvas'></div>
        </div>
      </section>
    </div>

    <script id='header-template' type='x-tmpl-mustache'>
      <header>
        <div>
          <div class='name'>{{ id.name }}</div>
          <div class='email'>{{ id.e-mail }}</div>
          <div class='phone'>{{ id.phone }}</div>
          <div class='address'>{{ id.location.city }}, {{ id.location.country }}</div>
        </div>
        <div>
          <div>{{ id.role }}</div>
          {{ #id.profiles }}
          <div class='web'><a href='{{ link }}'>{{ link }}</a></div>
          {{ /id.profiles }}
        </div>
      </header>
    </script>

    <script id='training-template' type='x-tmpl-mustache'>
        {{ #training }}
        <div class='chronology training'>
          <div>
            <div class='period'>{{ period.start }}<br />{{ period.end }}</div>
          </div>
          <div>
            <div>
              <b>{{ title }}</b>
              {{ #objective }}<i>({{ objective }})</i>{{ /objective }}
            </div>
            <div>
              {{ organism.name }},
              {{ organism.location.city }}{{#organism.location.country}},
              {{ organism.location.country }}{{/organism.location.country}}
            </div>
            <div class='diplomas'>
              {{#degrees.length}}
              <ul>
                {{#degrees}}
                  <li>{{title}}</li>
                {{/degrees}}
              </ul>
              {{/degrees.length}}
            </div>
            <div class='topics'>
              {{#topics.length}}
              <ul>
                {{#topics}}
                  <li>{{.}}</li>
                {{/topics}}
              </ul>
              {{/topics.length}}
            </div>
          </div>
        </div>
        {{ /training }}
    </script>

    <script id='xp-template' type='x-tmpl-mustache'>
        {{ #xp }}
        <div class='chronology'>
          <div>
            <div class='role'>{{role}}</div>
            <div class='period'>{{ period.start }}<br/>{{ period.end }}</div>
          </div>
          <div>
            <h2>
              <b>{{ company.name }}</b>,
              {{ company.location.city }}{{# company.location.country }},
              {{ company.location.country }}{{/ company.location.country }}
            </h2>
            <div>{{company.business}}</div>
            <div>
              {{ #objective }}<i>({{ objective }})</i>{{ /objective }}
            </div>
            <div class='skills'>
              {{#skills.length}}
              <ul>
                {{#skills}}
                  <li>{{.}}</li>
                {{/skills}}
              </ul>
              {{/skills.length}}
            </div>
            <div class='missions'>
              {{#missions.length}}
              <ul>
                {{#missions}}
                  <li>{{.}}</li>
                {{/missions}}
              </ul>
              {{/missions.length}}
            </div>
          </div>
        </div>
        {{ /xp }}
    </script>

    <script id='skill-template' type='x-tmpl-mustache'>
        <div class='skills'>
          {{#skill_set}}
            {{#.}}
          <div>
            <h2>{{category}}</h2>
            <div>
              <ul>
                {{#content}}
                <li class='{{level}}'>{{name}}</li>
                {{/content}}
              </ul>
            </div>
          </div>
            {{/.}}
          {{/skill_set}}
        </div>
    </script>

    <script type='application/ecmascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
            ></script>
    <script type='application/ecmascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js'
            ></script>

    <script type='application/ecmascript'>assets = {};</script>
    <script type='application/ecmascript' src='id.js'></script>
    <script type='application/ecmascript' src='xp.js'></script>
    <script type='application/ecmascript' src='training.js'></script>
    <script type='application/ecmascript' src='skills.js'></script>
    <script type='application/ecmascript' src='cv.js'></script>
  </body>
</html>
