section
{
  orphans: 3;
  widows: 3;
  page-break-inside: avoid;
  page-break-before: auto;
  page-break-after: auto;
}

div.main
{
  float: none;
  padding: 5mm 0 5mm 0;
}

div.main > section
{
  padding: 0;
}

div.main > section > div
{
  padding: 0;
}

.main > section > div
{
  column-count: 2;
  column-gap: 1pt;
}

h1
{
  column-span: all;
  margin: 1.4cm 0 0.4cm 0;
}

.missions
{
  display:none;
}

div.chronology > div:last-child
{
  width: 9.3cm;
}

.training.chronology > :first-child
{
  width: 1cm;
}

.training.chronology > :last-child
{
  width: 9.3cm;
}

div.chronology .topics li
{
  width: 47%;
}

/**/
body
{
  display: table;
}

div.main
{
  width: 100%;
}

.sidebar
{
  display: table-footer-group;
}

.sidebar h1
{
  display: block;
}

.sidebar .skills
{
  float: none;
  width: auto;
  border-radius: 8pt;
  border: 1pt dotted lightgray;
}

.sidebar .skills:after
{
  clear: both;
  content: '';
  display: block;
}

.sidebar .skills
{
  column-count: 6;
}

.sidebar .skills div
, .sidebar .skills h2
{
  text-align: left;
}

